.burger {
  display: flex;
  justify-content: space-between;
}

.mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 25px 15px;
  background-color: $whiteColor;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  overflow-y: scroll;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $mobile) {
    padding: 48px 40px;
  }
}

.menu-toggle {
  margin: 10px 15px 10px 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    fill: $activeLink;
  }

  &--close {
    position: absolute;
    top: 5px;
    right: 5px;

    @media screen and (min-width: $mobile) {
      top: 10px;
      right: 15px;
    }
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-container.is-open {
  transform: translateX(0);
}

.mobile-menu__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $mainTextColor;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu {
  margin-bottom: 64px;
}

.mobile-contacts {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 64px;

  &__phone {
    font-size: 34px;
    color: $paragraphText;
    margin-bottom: 32px;
  }

  &__mail {
    font-size: 24px;
    color: $paragraphText;
  }

  &__phone:hover,
  &__phone:focus {
    color: $activeLink;
  }

  &__mail:hover,
  &__mail:focus {
    color: $activeLink;
  }
}

.mobile-social {
  display: flex;
  justify-content: start;
}

.mobile-social__item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.mobile-social__link {
  color: $activeLink;
}

.menu {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-left: 0;
  }
}

.nav {
  display: block;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav__link {
  display: inline-block;
  color: $mainTextColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;

  &:hover,
  &:focus {
    color: $activeLink;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav__list {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0;
  }
}

.nav__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }
}

.contacts {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    margin-bottom: 0;
    margin-left: 70px;
    margin-right: 0;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-left: 305px;
  }
}

.contacts__item {
  text-align: center;
}

.contacts__phone {
  color: $paragraphText;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    color: $activeLink;
  }
}

.contacts__mail {
  color: $paragraphText;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    color: $activeLink;
  }
}

.contacts__mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $paragraphText;

  .contacts__mail:hover &,
  .contacts__mail:focus & {
    fill: $activeLink;
  }
}

.contacts__phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: $paragraphText;

  .contacts__phone:hover &,
  .contacts__phone:focus & {
    fill: $activeLink;
  }
}

.current--mobile {
  color: $activeLink;
}
