.card {
  background-color: $whiteColor;
  border: 1px solid #eeeeee;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__title {
  color: $mainTextColor;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.card__text {
  color: $paragraphText;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__info {
  background-color: rgba(33, 150, 243, 0.9);
  padding: 15px;
  margin-top: 0;
  color: $whiteColor;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

  .card_link:focus &,
  .card_link:hover & {
    transform: translateY(0);

    @media screen and (min-width: 400px) {

      padding: 63px 24px;
      
    }
  }
}

.card__img {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.card__content {
  padding: 20px 0 20px 24px;
}

.card_link:focus,
.card_link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set {
  padding-top: 40px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
      
  }

  @media screen and ( min-width: 1200px) {
    margin: 0;
    margin-top: -30px;
    margin-left: -30px;
    
  }
 
}

.card-set__item {
  margin-bottom: 0;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width:$tablet) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 4 * 15px) / 2);
    
  }

  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
    
  }
}

